.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 24px;
  list-style-type: none;
  padding: 24px 156px;
  margin: 0 auto;
  max-width: 1440px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
}
.gallery-image {
  flex-shrink: 0;
}
img:hover {
  cursor: url('../img/Vector.png'), pointer;
}
.gallery-image {
  transform: scale(1);
  transition: transform 250ms ease-out;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.02);
}
